*~
ios/distr/MAITI.framework/Headers
ios/distr/MAITI.framework/MAITI
ios/distr/MAITI.framework/Resources
ios/distr/MAITI.framework/Versions/A/Headers/PerformanceLibrary.h
ios/distr/MAITI.framework/Versions/A/MAITI
ios/distr/MAITI.framework/Versions/Current
ios/src/MAITI/build/MAITI.build/Debug-iphoneos/Distribution.build/Distribution.dep
ios/src/MAITI/build/MAITI.build/Debug-iphoneos/Distribution.build/build-state.dat
