*~
ios/distr/MAITI.framework/Headers
ios/distr/MAITI.framework/MAITI
ios/distr/MAITI.framework/Resources
ios/distr/MAITI.framework/Versions/A/Headers/PerformanceLibrary.h
ios/distr/MAITI.framework/Versions/A/MAITI
ios/distr/MAITI.framework/Versions/Current
ios/src/MAITI/build/MAITI.build/Debug-iphoneos/Distribution.build/Distribution.dep
ios/src/MAITI/build/MAITI.build/Debug-iphoneos/Distribution.build/build-state.dat
ios/src/MAITI/build/MAITI.build/Debug-iphoneos/MAITI.build/MAITI-all-target-headers.hmap
ios/src/MAITI/build/MAITI.build/Debug-iphoneos/MAITI.build/MAITI-generated-files.hmap
ios/src/MAITI/build/MAITI.build/Debug-iphoneos/MAITI.build/MAITI-own-target-headers.hmap
ios/src/MAITI/build/MAITI.build/Debug-iphoneos/MAITI.build/MAITI-project-headers.hmap
ios/src/MAITI/build/MAITI.build/Debug-iphoneos/MAITI.build/MAITI.hmap
